/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/index.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/* index.module.css */
.styles_container__TE5Ij {
    text-align: center;
    padding: 20px;
  }
  
  .styles_navbar__YPIcD {
    display: flex;
    justify-content: flex-end; /* Cambiamos a flex-end para que la barra esté en la parte derecha */
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .styles_navbar__YPIcD a {
    cursor: pointer;
  }
  
  .styles_center__eYnI5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Agregamos un margen superior para separar el título de la barra de navegación */
  }
  /* index.module.css */
.styles_container__TE5Ij {
  text-align: center;
  padding: 20px;
}

.styles_navbar__YPIcD {
  display: flex;
  justify-content: flex-end; /* Cambiamos a flex-end para que la barra esté en la parte derecha */
  gap: 20px;
  margin-bottom: 20px;
}

.styles_navbar__YPIcD a {
  cursor: pointer;
}

.styles_center__eYnI5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Agregamos un margen superior para separar el título de la barra de navegación */
}

